header {
	background-image: url("http://placehold.it/1200x900");
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
	color: $header-text-color;

	.menu {

		.navLeft {
			display: inline-block;

			.logoHeader {
				height: 50px;
				width: 80px;
			}
		}

		.navRight {
			display: inline-block;
			float: right;
			text-align: center; 

			.navBlock {
				display: inline-block;
				width: 150px;
				line-height: 3em;
				height: 3em; 
			}
		}

		.navLeft, .navRight :hover {
			cursor: pointer;
		}
	}

	.textHeader {
		width: 500px;
		margin-top: 100px;
		margin-left: 150px;

		.btnHeader {
			background: transparent;
			height: 50px;
			width: 250px;
			color: $header-text-color;
			border: 1px solid $header-text-color;
		}

	}

}