	
header {
	background-image: url("http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
	padding-top: 200px;

	.textHeader {
		color: $white;
		width: 500px;
		margin-left: 150px;


		.btnHeader {
			@include border-radius(20px);
			background: transparent;
			height: 40px;
			width: 200px;
			color: $white;
			border: 1px solid $white;
			font-size: 15px;

			&:hover {
				background-color: $pink;
				cursor: pointer;
			}
		}

	}

}