$main-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
$main-text-color: black;
$header-text-color: white;


html {
	font-family: $main-font;
	color: $main-text-color;
}

@import "header";

.container {
	width: 80%;
	margin: 0 auto;
}

@import "searchBar";