// Variables
$main-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
$main-text-color: grey;
$white: #ffffff;
$pink: #FF9686;

// Mixins
@mixin border-radius($radius) {
	border-radius: $radius;
}


// Architecture css
html {
	font-family: $main-font;
	color: $main-text-color;
}

@import "header";

.container {
	width: 85%;
	margin: 0 auto;
}

@import "searchBar";

@import "menu4";

@import "menu3";






