
html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

menu {
	.navBlock {
		display: inline-block;
		width: 150px;
		vertical-align: middle;
		line-height: 3em;
		height: 3em;
	}

	.navRight {
		display: inline-block;
		float: right;
		text-align: center;
	}
}